/* Reset some default styles */
body, h1, form, label, select, input, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-image: url('loginf.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

form#editRecordForm {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto 40px;
  overflow-x: auto;
}

.container-1, .container-2 {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group input[type="number"],
.form-group input[type="file"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group select {
  padding: 10px;
}

.form-group label {
  margin-top: 10px;
}

.form-group input[type="file"] {
  width: 90%;
  margin-top: 5px;
  cursor: pointer;
}

.upload-file input[type="file"] {
  display: none;
}

.upload-file label {
  background-color: #6c6556;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px 0;
}

.upload-file label:hover {
  background-color: #faefd9;
  color: #6c6556;
}

button[type="button"] {
  background-color: #6c6556;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px 0;
}

button[type="button"]:hover {
  background-color: #faefd9;
  color: #6c6556;
}
