body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
    
}

h1{
    font-size: 24px;
    margin-bottom: 10px;
}

.container-1{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;

}
.container-2{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;

}
.container-3{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;

}
.container-4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
    
}

.container-5{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    justify-content: center;
    
}
/*.attendance-form {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 600px;; 
    display: flex;
    flex-wrap: wrap;
}*/

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.form-group label {
    padding-right: 10px;
    text-align: left;
    line-height: 1.5;
    text-align: left;
    margin-top: 10px;
}

.form-group select,
.form-group input,
.form-group textarea {
    
    padding: 10x;
    border: none;
    margin-right: 50px;
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin-top: 5px;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.attendance-form button:hover {
    background-color: #0056b3;
}

.container-5 button {
    width: 65%;
    padding: 16px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}
