/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Move header to the top */
    height: 100vh;
    background-image:url('loginf.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat; 
}

.total-div{
    display: flex;
    flex-direction: row;
    align-items: center;

} 
nav {
    background: #fff;
    border-bottom: 2px solid #6c6556;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    
}


h1 {
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

.container-1, .container-2 {
    background: #fff; /* Solid light background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 400px; /* Set a maximum width */
}

.container-1 p {
    font-weight: bold;
    margin-top: 10px;
}

.button {
    background-color: #6c6556;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #faefd9;
    color: #6c6556;
}

.Logout {
    color: #6c6556;
    background-color: transparent;
    border: 2px solid #6c6556;
    padding: 12px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 60px; /* Adjusted for space above the footer */
    right: 20px;
}

.Logout:hover {
    background-color: #6c6556;
    color: #fff;
}

.container-1 a {
    text-decoration: none;
}

.container-1 a:hover {
    text-decoration: underline;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}
