body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  .login-form h2 {
    margin: 0 0 20px;
    font-size: 24px;
  }
  
  .login-form input {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
  }
  

  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Add styles for the "User Type" label */
label[for="userType"] {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  /* Add styles for the "User Type" select input */
  #userType {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
  }
  
  /* Style the select dropdown arrow (optional) */
  #userType::-ms-expand {
    display: none;
  }
  
  /* Style the select dropdown arrow for modern browsers (optional) */
  #userType::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  